.ingredientContainer {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.ingredientImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.ingredientInfo {
  margin-left: 30px;
}

.ingredientName {
  font-size: larger;
  font-weight: bold;
}

.ingredientAmount {
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
}
