.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}
.searchInput {
  border: none;
  border-bottom: 1px solid #30302f;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
  color: rgb(32, 32, 32);
  background-color: #fcf7ff;
}

.loading {
  margin: 80px;
}
